@import '../../assets/palette'
@import '../../theme'
@import '../../utils/mediaQuery'

.contentSection
    margin-bottom: 8px
    margin-inline: 0
    border-radius: 10px

    .headerSection
        display: flex
        justify-content: space-between
        color: var(--titleColor)
        font-size: 2rem

    @include fold
        .headerSection
            font-size: 1.5rem
