@import '../../../assets/palette'
@import '../../../utils/mediaQuery'

.button
    appearance: none
    margin: 8px
    height: 70px
    width: 80px
    font-size: 32px
    text-align: center
    border-radius: 10px
    border: none
    &:hover
        cursor: pointer

    &.numbtn
        background-color: var(--btnBackground)
        color: var(--textColor)
        box-shadow: 0px 4px 1px var(--keyShadow)

    &.funcbtn
       background-color: var(--btnBackground)
       color: var(--textColor)
       box-shadow: 0px 4px 1px var(--keyShadow)

    &.otherbtn
        background-color: var(--keyBackground)
        color: var(--otherBtnColor)
        font-size: 1.8rem
        box-shadow: 0px 4px 1px var(--keyShadow)

    &.equals
        background-color: var(--redColor)
        color: var(--otherBtnColor)
        width: 176px !important
        box-shadow: 0px 4px 1px var(--redShadow)

    &.reset
        background-color: var(--keyBackground)
        color: var(--otherBtnColor)
        width: 176px !important
        box-shadow: 0px 4px 1px var(--keyShadow)

    @include mobile
        height: 8vh !important
        width: 17.5vw
        margin-inline: 1vw

        &.reset
            width: 38vw !important

        &.equals
            width: 38vw !important

    @include fold
        font-size: 1rem !important



    