@import '../../../assets/palette'

.button
    appearance: none
    margin: 8px
    height: 48px
    width: 80px
    font-size: 32px
    text-align: center
    border-radius: 10px

    &.numbtn
        background-color: $white

    &.funcbtn
        background-color: $white

    &.otherbtn
        background-color: $keyBackground
        color: $white

        &.resetBtn
            width: 128px

    &.equals
        background-color: $red
        color: $white

    