$mainBackground1: hsl(222, 26%, 31%)
$keypadBackground1: hsl(223, 31%, 20%)
$pageBackground1: hsl(224, 36%, 15%)
$keyBackground1: hsl(225, 21%, 49%)
$keyShadow1: hsl(224, 28%, 35%)
$red1: hsl(6, 63%, 50%)
$redShadow1: hsl(6, 70%, 34%)
$keyOrangeBackground1: hsl(30, 25%, 89%)
$keyOrangeShadow1: hsl(28, 16%, 65%)
$text1: hsl(221, 14%, 31%)
$white1: hsl(0, 0%, 100%)

$mainBackground2: hsl(0, 0%, 90%)
$keypadBackground2: hsl(0, 5%, 81%)
$pageBackground2: hsl(0, 0%, 93%)
$keyBackground2: hsl(185, 42%, 37%)
$keyShadow2: hsl(185, 58%, 25%)
$orange2: hsl(25, 98%, 40%)
$orangeShadow2: hsl(25, 99%, 27%)
$keyOrangeBackground2: hsl(45, 7%, 89%)
$keyOrangeShadow2: hsl(35, 11%, 61%)
$text2: hsl(60, 10%, 19%)
$white2: hsl(0, 0%, 100%)

$mainBackground3: hsl(268, 75%, 9%)
$keypadBackground3: hsl(268, 71%, 12%)
$pageBackground3: hsl(268, 71%, 12%)
$keyBackground3: hsl(281, 89%, 26%)
$keyShadow3: hsl(285, 91%, 52%)
$cyan3: hsl(176, 100%, 44%)
$cyanShadow3: hsl(177, 92%, 70%)
$keyCyanBackground3: hsl(268, 47%, 21%)
$keyCyanShadow3: hsl(290, 70%, 36%)
$text3: hsl(52, 100%, 62%)
$darkBlue3: hsl(198, 20%, 13%)
$white3: hsl(0, 0%, 100%)