@import './assets/palette'
@import './utils/mediaQuery'

:root
    background-color: $mainBackground
.mainBody
    height: auto
    max-width: 600px
    margin-inline: auto

    @include mobile
        width: 90%
        margin-inline: auto