@import './assets/palette'
@import './utils/mediaQuery'

.mainBackground
    min-height: 100vh
    height: 100vh
    transition: 0.2s
    
    &.theme1
        --mainBackground: #{$mainBackground}
        --pageBackground: #{$pageBackground}
        --keypadBackground: #{$keypadBackground}
        --keyBackground: #{$keyBackground}
        --redColor: #{$red}
        --textColor: #{$text}
        --btnBackground: #{$white}
        --otherBtnColor: #{$white}
        --displayColor: #{$white}
        --titleColor: #{$white}
        --keyShadow: #{$keyShadow}
        --redShadow: #{$redShadow}
        background-color: $mainBackground
    
    &.theme2
        --mainBackground: #{$mainBackground2}
        --pageBackground: #{$pageBackground2}
        --keypadBackground: #{$keypadBackground2}
        --keyBackground: #{$keyBackground2}
        --redColor: #{$orange2}
        --textColor: #{$text2}
        --btnBackground: #{$white}
        --otherBtnColor: #{$white}
        --displayColor: black
        --titleColor: black
        --keyShadow: #{$keyShadow2}
        --redShadow: #{$orangeShadow2}
        background-color: $mainBackground2

    &.theme3
        --mainBackground: #{$mainBackground3}
        --pageBackground: #{$pageBackground3}
        --keypadBackground: #{$keypadBackground3}
        --keyBackground: #{$keyBackground3}
        --redColor: #{$cyan3}
        --textColor: #{$text3}
        --btnBackground: #{$keyBackground3}
        --otherBtnColor: #{$white}
        --displayColor: #{$text3}
        --titleColor: #{$text3}
        --keyShadow: #{$keyShadow3}
        --redShadow: #{$cyanShadow3}
        background-color: $mainBackground3

