@import './assets/palette'

.mainBackground
    &.theme1
        --mainBackground: #{$mainBackground}
        --pageBackground: #{$pageBackground}
        --keypadBackground: #{$keypadBackground}
        --keyBackground: #{$keyBackground}
        --redColor: #{$red}
        --textColor: #{$white}
        --btnBackground: #{$white}
    
    &.theme2
        --mainBackground: #{$mainBackground2}
        --pageBackground: #{$pageBackground2}
        --keypadBackground: #{$keypadBackground2}
        --keyBackground: #{$keyBackground2}
        --redColor: #{$orange2}
        --textColor: #{$white}
        --btnBackground: #{$white}

    &.theme3
        --mainBackground: #{$mainBackground3}
        --pageBackground: #{$pageBackground3}
        --keypadBackground: #{$keypadBackground3}
        --keyBackground: #{$keyBackground3}
        --redColor: #{$cyan3}
        --textColor: #{$white}
        --btnBackground: #{$white}

