@import '../../../assets/palette'
@import '../../../theme'

.displayBox
    margin-block: 8px
    text-align: right
    background-color: var(--pageBackground)
    color: var(--displayColor)
    font-size: 48px
    padding-inline: 8px
    padding-block: 16px
    border-radius: 10px
